#slider {
    width: 80vw;
    margin: auto;
    padding: 1vw;

    display: flex;
    flex-direction: column-reverse;
    background-color: #333333;
}

#slider-part {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#imgs-box {
    overflow: hidden;
    width: 80vw;
}

#imgs {
    display: flex;
    width: calc((80vw + 2vw)*4);
    transition: 1s
}

.img {
    width: 80vw;
    height: 40vw;
    margin-right: 2vw;
}

#ps-box {
    overflow: hidden;
    width: 60vw;
}

#ps {
    display: flex;
    width: calc((80vw)*4);
    transition: 1s
}

.p {
    width: 80vw;
    margin-right: 22vw;
    color: white;
}

#radios {
    width: 20vw;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.radio {
    visibility: hidden;
    height: 0em;
    margin: 0em;
}

.label {
    margin: 0px;
    width: 1em;
    height: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.radio__fake {
    width: 0.3em;
    height: 0.3em;

    border: 0.1em solid #70a6fF;
    border-radius: 50%;
    background-color: #70a6fF;
    transition: 0.1s;
}


.label:hover > .radio__fake {
    border: 0.2em solid white;
    background-color: white;
}

#r1:checked ~ #slider > #slider-part > #radios > .label[for="r1"] > .radio__fake { background-color: transparent; }
#r2:checked ~ #slider > #slider-part > #radios > .label[for="r2"] > .radio__fake { background-color: transparent; }
#r3:checked ~ #slider > #slider-part > #radios > .label[for="r3"] > .radio__fake { background-color: transparent; }
#r4:checked ~ #slider > #slider-part > #radios > .label[for="r4"] > .radio__fake { background-color: transparent; }

#r1:checked ~ #slider > #imgs-box > #imgs { transform: translateX(calc((80vw + 2vw) * -0)); }
#r2:checked ~ #slider > #imgs-box > #imgs { transform: translateX(calc((80vw + 2vw) * -1)); }
#r3:checked ~ #slider > #imgs-box > #imgs { transform: translateX(calc((80vw + 2vw) * -2)); }
#r4:checked ~ #slider > #imgs-box > #imgs { transform: translateX(calc((80vw + 2vw) * -3)); }

#r1:checked ~ #slider > #slider-part > #ps-box > #ps { transform: translateX(calc((80vw) * -0)); }
#r2:checked ~ #slider > #slider-part > #ps-box > #ps { transform: translateX(calc((80vw) * -1)); }
#r3:checked ~ #slider > #slider-part > #ps-box > #ps { transform: translateX(calc((80vw) * -2)); }
#r4:checked ~ #slider > #slider-part > #ps-box > #ps { transform: translateX(calc((80vw) * -3)); }
